.dealMainContainer {
    background: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .175);
    ;
}

.dealContainer {
    border-radius: 8px;
    background: white;
    border-radius: 15px;

}

.heading {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px dashed rgb(204, 204, 204);


}

.heading h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

.heading p {
    font-size: 12px;
    color: rgb(33, 37, 41, .75);
    font-weight: 700;
    font-family: Poppins, sans-serif;

}

.gridBox {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr;
}

.content {
    /* border: 1px solid black; */
    /* gap: 10px; */
    padding: 10px;


}


.content .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    /* border: 1px solid black; */
}

.logoDiv .orderMethod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.logoDiv .orderMethod label {
    color: #212529;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    text-align: center;
}



.content .features .pickupLogo {
    /* color: green; */
    /* color: #097733; */

    height: 24px;
    width: 24px;
    fill: var(--primary);
}

.imgDiv {
    position: relative;
    /* display: flex; */
    height: 200px;
    /* width: 100%; */
    /* width: 300px; */
    margin-bottom: 20px;
}

.img {
    position: relative;
    height: 100%;

}

.img img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details {


    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #000000a3;
    /* backdrop-filter: blur(4px); */
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem;

}

.details .miniDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    padding-bottom: 10px;
}

.details h6 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

}

.details p {
    font-size: 14px;
    color: white;
}

.addBtn Button {
    padding: 6px 18px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: var(--primary);
    background: white;
    border: 1px solid var(--primary);
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    transition: all 0.3s;
}

.addBtn Button:hover {
    background: var(--primary);
    color: white !important;
}

.addBtn Button span {
    margin-left: 5px;
}

.addBtn Button:hover .muiLoader {
    color: #fff;
}

@media (min-width:1200px) {
    .gridBox {
        grid-template-columns: 1fr 1fr;
    }

    .imgDiv {
        /* width: 50%; */
    }

    .content {
        padding: 20px;
    }

    .content .features {
        /* width: 50%; */
    }
}

@media (max-width:1023px) {
    .imgDiv {
        height: 250px;
    }

    .img img {
        /* object-fit: fill; */
    }
}

@media (max-width:830px) {
    .imgDiv {
        height: 200px;
    }
}